<header class="index" >
	DCE CONNECT
	<div >
		<button id ="login-button"><a  href="/user/login">Login</a></button>
		<button id = "signup-button"><a  href="/user/signup">Sign-Up</a></button>
	</div>
</header>
<div id="background-image">
	<div class="intro-text">
		<h2>Main line</h2>
		<h4>BY line</h4>
	</div>
</div>


