<h1>User login</h1>
<form action="/user/add_session_login" method="post">
Username: <input type="text" name="username">
<br>
Password: <input type="password" name="password_digest">
<input type="submit" name="submit">