<h1>User#signup</h1>
<form action="/user/add_session" method="post">
Name: <input type="text" name="name">
<br>
Year: <input type="text" name="year">
<br>
Email: <input type="text" name="email">
<br>
Mobile: <input type="text" name="mobile">
<br>
Username: <input type="text" name="username">
<br>
Password: <input type="password" name="password_digest">
<input type="submit" name="submit">
</form>




