<h1> Welcome, <%=@user.name%></h1>
<div >

<form action="/user/logout" method="post">
<input type="hidden" name="user_id" value ="@user.id">
<input type="submit" name="logout" value="Logout">
</form>
</div>